{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <h1 id="titre">FESTIVAL BRETAGNE</h1>

    <body>
        <nav>
            <ul id="nav">
                <li class="section"><a href="{{ path('music_type') }}" class="lien">Genre Musical</a></li>
                <li class="section"><a href="{{ path('map') }}" class="lien">Geolocalisation</a></li>
                <li class="section"><a href="{{ path('periode') }}" class="lien">Periode</a></li>
            </ul>
        </nav><br/>


        <div id="poster">
        <img src="{{ asset('img/affiches/medium.jpg') }}">
        </div>


    </body>
    <footer><a href="{{ path('contact_create') }}" class="lien">NOUS CONTACTER</a></footer>


{% endblock %}
